
<div class="heroes-menu ">
        <a class="nav-link left-menu" routerLink="/home" routerLinkActive='active'>
            <span>
                <span><img src="assets/images/user-red.png"/></span>
            </span>
        </a>
        <a class="nav-link" routerLink="/home" routerLinkActive='active'>
            <span>
                <span><img src="assets/images/logo.png"/></span> 
            </span>
        </a>
        <a class="nav-link right-menu" routerLink="/home" routerLinkActive='active'>
            <span>
                <span><img src="assets/images/cart.png"/></span>
            </span>
        </a>
</div>
<!--
<ul class="users">
    <li *ngFor="let utilisateur of utilisateurs">
      <a >
        <span class="badge">{{utilisateur.id}}</span> {{utilisateur.prenom}} {{utilisateur.nom}} {{utilisateur.email}} {{utilisateur.estAdmin}}
      </a>
    </li>
  </ul>
-->