
<main class="has-header has-footer" >


    <div class="header-div">
        <app-header-bar class="header"></app-header-bar>
    </div>

    <router-outlet></router-outlet>

    <app-footer-nav-bar class="footer"></app-footer-nav-bar>

</main>