
.header-div{
height: 90px;
}

.header 
{ background: #fff;
color: #000;
position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 9;
box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
font-family: "Anton";
}

.footer-div{
    height: 90px;
    }
.footer 
{ background: #fff;
color: #000;
position: fixed;
bottom: 0;
left: 0;
width: 100%;
z-index: 9;
box-shadow: 0px -2px 5px rgba(0,0,0,0.1);
font-family: "Anton";
}