<div>
    User : <br/>
    ID:{{currentUser?.id}}<br/>
    Nom:{{currentUser?.lastName}}<br/>
    Prenom:{{currentUser?.firstName}}<br/>
    Societes:
    content_copy
    <li *ngFor="let societe of currentUser?.societies">
        -  {{ societe.societyName }}
      </li>
      <br/>
</div>