<div class="container">
    <ul class="nav nav-pills nav-justified nav-menu-padding">
        <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive='active'>
                <span>
                    <i class="nav-icon bi bi-house"></i>
                    <span><img src="assets/images/icone-boeuf.png"/></span>
                    <p class="nav-text menu-item-color">Boeuf</p>
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/stats" routerLinkActive='active'>
                <span>
                    <i class="nav-icon bi bi-laptop"></i>
                    <span><img src="assets/images/icone-porc.png"/></span>
                    <p class="nav-text menu-item-color">Porc</p>
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/pinned" routerLinkActive='active'>
                <span>
                    <i class="nav-icon bi bi-bookmarks"></i>
                    <span><img src="assets/images/icone-veau.png"/></span>
                    <p class="nav-text menu-item-color">Veau</p>
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/style" routerLinkActive='active'>
                <span>
                    <i class="nav-icon bi bi-palette"></i>
                    <span><img src="assets/images/icone-agneau.png"/></span>
                    <p class="nav-text menu-item-color">Agneau</p>
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/profile" routerLinkActive='active'>
                <span>
                    <i class="nav-icon bi bi-person"></i>
                    <span><img src="assets/images/icone-autres.png"/></span>
                    <p class="nav-text menu-item-color">Autres</p>
                </span>
            </a>
        </li>
    </ul>
</div>